*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* ########## HOMEPAGE ########## */
.bg-red{
    width: 100%;
}
.empty-div{
    position: relative;
    width: 100%;
}
.empty-holder img{
    height: 100%;
    width: 100%;
}
.homePage{
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: #B40000;
}
/* HOMEPAGE IMG LAYERS */
.hp-img{
    width: 100%;
    position: absolute;
}
/* HOMEPAGE CONTENT */
nav{
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: 10px 10px;
    display: flex;
}
.nav-logo{
    width: 5%;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
.nav-links li{
    margin-left: 64px;
    font-size: 16px;
    letter-spacing: 5px;
}
.strm-btn{
    background-color: #B40000;
    border: none;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 110%;
    padding: 10px 20px;
    cursor: pointer;
}
.strm-btn img{
    height: 32px;
    padding-right: 10px;
}
.btn-container{
    position: absolute;
    margin-left: 10%;
    width: 33%;
    display: flex;
    justify-content: center;
}






/* ######### PETER PARKER ##########*/
.peterParker{
    position: relative;
    background-color: black;
}
.pp-img{
    width: 100%;
    position: absolute;
}

.pp-title{
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 4px;
    font-size: 48px;
    width: 300px;
}
.pp-desc{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    color: white;
    font-weight: 32px;
    margin-top: 10%;
}
.pp-desc-container{
    width: fit-content;
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.cast{
    width: 100%;
    position: relative;
    background-color: black
}
.cast-bg{
    width: 100%;;
}
.cast-title{
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 6px;
    font-size: 32px;
    margin-left: 10%;
}
.cast-cards-container{
    height: fit-content;
    margin-left: 9%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    margin-top: 8%;
}
.cast-card{
    width: 30%;
    margin-top: 10%;
    margin-left: -10%;
    transition: 0.4s ease;
}
.spidey-card{
    width: 30%;
    margin-top: 10%;
    transition: 0.4s ease;
}
.spidey-card:hover{
    transform: translateY(-40%);
}
.cast-card:hover{
    transform: translateY(-40%);
}



.media{
    background-color: black;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img{
    width: 100%;
}
.mediacontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
