*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ########## HOMEPAGE ########## */
.homePage{
    width: 100%;
    position: relative;
}
/* HOMEPAGE IMG LAYERS */
.hp-img-layers{
    width: 100%;
    height: fit-content;
    position: relative;
}
.hp-img{
    width: 100%;
    position: absolute;
}
